/* Demo 1 */
 @import url("https://use.typekit.net/luw5ddm.css");

.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	color: rgba(0,122,255,1);
	text-align: right;
} 

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
}

/* Sidebar links */
.sidebar a {
  dtext-align: left;
  display: block;
  background-color: transparent;
  font-family:'Lato', sans-serif;
  font-weight: 50;
  text-decoration:none;
  margin: 0px 4px;
  padding: 2px 2px 2px 2px;
  color: #fff;
  line-height: 25px;
  font-size: 14px;
  text-shadow: 5px 5px 5px #000000;
  border: 1px solid #000;
  
}


.sidebar a:hover {
	color: yellow;
	background-color: transparent;
	border-radius: 25px;
	background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

.sidebar a:active {
	background: #666;
    border-color: #333;
    color: #ddd;
    box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.sidebar a:visited {
	color:cornflowerblue;	
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
iframe.content {
  margin-left: 250px;
  margin-right: 0px;
  padding: 0px 0px;
  width:650px;
  height: 550px;	
  border: none;
  background-color: rgba(0,102,255,0);
  overflow:hidden;
  text-align: center;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

.footer{
	display:block;
	position:absolute;
	text-align: center;
}

