/* Demo 1 */
.demo-1 .uc-container{
	width: 150px;
	height: 214px;
	margin-top: 10px;
} 

.demo-1 .uc-single, 
.demo-1 .uc-final,
.demo-1 .uc-initial-content,
.demo-1 .uc-back,
.demo-1 .uc-front {
	background: #fff url(../images/noise.png) repeat center center;
}

.demo-1 span.clickme {
	Position: absolute;
	color: transparent;
	color: rgba(255,255,255,0);
	left: -1px;
	top: -13px;
	z-index: 2;
	width: 102px;
	height: 59px;
	margin-bottom: -50px;
	cursor: pointer;
	text-align: center;
}

/*this class is invisible in design view..it needs to be adjusted per each page of book content contains the page links and prompts*/

.demo-1 .scrollwrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
	z-index: 2;
    position: absolute;
    cursor: pointer
}


.arrow {
	Position: absolute;
	display: block;
	left: -100px;
	padding-top: 25px;
	top: -10px;
	width: 296px;
	height: 250px;
	z-index:1;
	margin-bottom: -10px;
	cursor: pointer;
	text-align: center;
}


.demo-1 .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Satisfy", cursive
    cursor: pointer;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
}
